@import "/src/styles/variables.scss";
@import "/src/styles/mixin.scss";

.opening-container {
  position: relative;
  width: 100%;
  height: 50vh;
  

  @include respond(tab-land) {
    height: 30vh;
  }
  @include respond (mobile){
    width: 100%;
 }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  @include respond (mobile){
    background: rgba(#000, 0.7);
 }
}
.miniOpening .overlay{
  background: rgba(#000, 0.7);

}
.text-content {
  text-align: center;
  color: $color-white;
  padding:  0 20px;

  
}

.marginTop{
  margin-top: 3rem;

}

.title {
  font-size: $size-large ;
  text-shadow: 1px 1px 2px #000;
  margin: 0;
  letter-spacing: 3px;
  @include respond(mobile) {
    font-size: $size-large-mobile * .9;
  }
}

.subtitle {
  font-size: $size-medium;
  margin: 0;

  @include respond(mobile) {
    font-size: $size-medium-mobile;
  }
}


.miniOpening{
  height: 25vh;
  @include respond(mobile) {
    height: 25vh;
  }
   .overlay {
    padding: 15vh 0px 10vh 0rem;
    @include respond(mobile) {
      padding: 17vh 0px 8vh 0rem;
    }

   // background: $color-green;
  //  background: radial-gradient(circle, rgba(0,100,0,1) 15%, rgba(12,154,12,1) 47%, rgba(26,126,26,1) 74%);  
    //background: radial-gradient(circle, rgba(12,130,12,1) 34%, rgba(12,154,12,1) 77%, rgba(26,126,26,1) 100%);
    //background: radial-gradient(circle, rgba(12,154,12,1)  34%,  rgba(26,126,26,1)  77%,rgba(12,154,12,1)  100%);

  }
}
 
.bg-imgaen{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // filter: blur(5px);
}