.footer {
   width: 100%;
   padding: 7vh;
   background-color: darkgreen;
   color: #fff;
   position: fixed;
   bottom: 0;
   left: 0;
 }
 
 .link{
   text-transform: none;
   color:  #fff;
   
 }

