@import "./src/styles/variables.scss";
@import "./src/styles/mixin.scss";


.footer {
   width: 100%;
   padding: 4vh;
   background-color: $color-green;
   color: $color-white;
  
 }
 
 .link{
   text-transform: none;
   text-decoration: none;
   border-bottom: 1px solid $color-white;
   color: $color-white;
   font-size: $size-small;
   
 }

.firma{
  font-size: $size-medium;
  font-family: $font-title-big;
  @include respond (mobile){
    font-size: $size-medium-mobile;

  }
}