@import "/src/styles/variables.scss";
@import "/src/styles/mixin.scss";

.showNavBar {
  opacity: 1;
}

.hideNavBar {
  opacity: 0;
}

.navBar {
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%;
  z-index: 1000; 
  background-color: #fff;
  transition: opacity 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.nav-item a {
  color: $color-grey;
  text-transform: uppercase;
  &:hover {
    color: $color-green;
  }
  @include respond(mobile) {
    font-size: $size-small-mobile;
    text-align: end;
  }
}

.nav-item .logo {
  @include respond(mobile) {
    text-align: start;
  }
}
