@import "/src/styles/mixin.scss";

.btn-back{
   width: 30%;
   @include respond (mobile){
      width: 100%;
   }
}

.backLink{
   @include respond (mobile){
     margin-top: 1rem;
   }
   margin-top: .5rem;
}