
@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// variables.scss

// Tamaños de fuente para dispositivos grandes
$size-large: 4.5rem;
$size-medium: 1.5rem;
$size-small: 1rem;

// Tamaños de fuente para dispositivos móviles
$size-large-mobile: 2.5rem;
$size-medium-mobile: 1.2rem;
$size-small-mobile: .9rem;


$color-white: #F8F9FA;
$color-black: #000F05;
//$color-green: #0c820c;
$color-green: #006400;

$color-green-dark: #175017;

$color-grey: #213929;

$font-table-serif: -apple-system, BlinkMacSystemFont,'Montserrat', sans-serif;
$font-title-small:  -apple-system, BlinkMacSystemFont,"Glory",Arial, Helvetica, sans-serif;
$font-title-big: -apple-system, BlinkMacSystemFont,'Tinos','Libre Caslon Text',Arial, Helvetica, sans-serif;
$font-text: -apple-system, BlinkMacSystemFont,"Glory",Arial, Helvetica, sans-serif;