// variables.scss

// Tamaños de fuente para dispositivos grandes
$size-large: 3.5rem;
$size-medium: 1.5rem;
$size-small: 1rem;

// Tamaños de fuente para dispositivos móviles
$size-large-mobile: 2rem;
$size-medium-mobile: 1.2rem;
$size-small-mobile: .9rem;


$color-white: #F8F9FA;
$color-black: #000F05;
//$color-green: #0c820c;
$color-green: #006400;

$color-green-dark: #175017;

$color-grey: #213929;

$font-table-serif: -apple-system, BlinkMacSystemFont,'Montserrat', sans-serif;
$font-title-small:  -apple-system, BlinkMacSystemFont,"Glory",Arial, Helvetica, sans-serif;
$font-title-big: -apple-system,BlinkMacSystemFont,"Judson",serif,"Montserrat";
$font-text: -apple-system, BlinkMacSystemFont,"Glory",Arial, Helvetica, sans-serif;