@import "/src/styles/variables.scss";

.design .nav-link{
   font-size: $size-medium;
   text-transform: capitalize;
   color: $color-black;
   &:hover{
      color: $color-green;
   }
   &:focus {
      color: $color-black; /* Evita que el color del elemento padre cambie cuando el link hijo está activo */
   }
   
}

/*al hacer click no cambia de color*/
.design  .nav-item{
   &:active .dropdown-item{
      background-color: transparent!important;
   }
}

.btn-close {
   font-size: 1.5rem;

   &:hover {
     filter: brightness(0) saturate(100%) invert(35%) sepia(55%) saturate(550%) hue-rotate(85deg) brightness(70%) contrast(90%);
   }
}

