@import "/src/styles/variables.scss";

.design .nav-link{
   font-size: 2rem!important;
   color: $color-black;
   &:hover{
      color: $color-green;
   }
}

.btn-close{
   font-size: 1.5rem;

   &:hover {
     filter: brightness(0) saturate(100%) invert(35%) sepia(99%) saturate(500%) hue-rotate(85deg) brightness(90%) contrast(90%);
   }
}