@import "/src/styles/variables.scss";

.table-container{
   overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
   max-width: 100%; /* Asegura que el contenedor no exceda el ancho de la pantalla */
   
}

tr.fontTable td{
   font-family: $table-fonts !important;
   color: red!important;
}
.dropdown{
   overflow: visible;
   position: static;
}