@import "./src/styles/variables.scss";
@import "./src/styles/componentsCompartido.scss";

html{
  background-color: $color-green;
}

body{
  background-color: #F8F9FA!important;
  color: $color-black!important;
}

